body {
background: linear-gradient(red, rgb(102, 12, 12));
min-height: 100vh;
background-color: rgb(255, 0, 0);

}
h1{


    color: rgb(0, 0, 0);
}
button{


    width: 175px;
    background-color: black;
    color: aliceblue;
}